* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #f1f1f1;
    font-family: 'Poppins', sans-serif;
}

.navi {
    height: 80px;
    width: 100%;
    background-color: #344E41;
    position: sticky;
    top: 0;
    padding: 10px 100px 0px 100px;
    box-shadow: 0px 4px 4px #35353571;
    z-index: 999;
}

.navi>.navi-header {
    display: inline;
}

.navi>.navi-header>.navi-title {
    display: inline-block;
    font-size: 30px;
    color: #fff;
    padding: 15px 10px 10px 10px;
}

.navi i {
    display: none;
}

.navi>.navi-links {
    display: flex;
    font-size: 18px;
    margin-top: -50px;
    justify-content: center;
}

.navi>.navi-links>a {
    display: inline-block;
    padding: 13px 60px 13px 60px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #efefef;
}

.navi>.navi-links-2 {
    font-size: 18px;
    margin-top: -50px;
    display: inline;
    float: right;
}

.navi>.navi-links-2>a {
    display: inline-block;
    padding: 13px 30px 13px 5px;
    text-decoration: none;
    font-weight: 400;
    color: #efefef;
}

.navi>.navi-links>a:hover {
    /* background-color: rgba(38, 38, 38, 0.3); */
    color: #a9a8a8;
    text-align: center;
}

.navi>.navi-links-2>a:hover {
    color: #a9a8a8;
    text-align: center;
}

.navi>#navi-check {
    display: none;
}

@media (max-width:1023px) {
    .navi>.navi-header>a>img {
        width: 60px;
        margin-left: -75px;
    }
    .navi i {
        display: block;
        color: white;
        float: right;
        margin-top: 12px;
        margin-right: -50px;
        font-size: 25px;
    }
    .navi>.navi-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .navi>.navi-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    .navi>.navi-links {
        position: absolute;
        display: flex;
        width: 100%;
        height: 0px;
        transition: all 0.3s ease-in;
        /* overflow-y: hidden; */
        top: 50px;
        left: 0px;
    }
    .navi>.navi-links>a {
        /* display: block; */
        font-size: 12px;
        padding: 24px 0px 0px 13px;
        width: 20%;
    }
    .navi>.navi-links-2 i {
        display: flex;
        font-size: 25px;
        padding: 50px 0px 0px 20px;
        margin-left: 100px;
    }
    .navi>.navi-links-2 li {
        display: none;
    }
    .navi>.navi-links>a:hover {
        color: #a9a8a8;
        text-align: left;
    }
    .navi>.navi-links-2>a:hover {
        color: #a9a8a8;
        text-align: left;
    }
}

@media (max-width:1765px) and (min-width: 1024px) {
    .navi>.navi-header>a>img {
        width: 60px;
        margin-left: -75px;
    }
    .navi i {
        display: block;
        color: white;
        float: right;
        margin-top: 12px;
        margin-right: -50px;
        font-size: 25px;
    }
    .navi>.navi-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .navi>.navi-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    .navi>.navi-links {
        position: absolute;
        display: flex;
        width: 100%;
        height: 0px;
        transition: all 0.3s ease-in;
        /* overflow-y: hidden; */
        top: 50px;
        left: 0px;
    }
    .navi>.navi-links>a {
        /* display: block; */
        font-size: 18px;
        padding: 24px 0px 0px 13px;
        width: 20%;
    }
    .navi>.navi-links-2 i {
        display: flex;
        font-size: 25px;
        padding: 50px 0px 0px 20px;
        margin-left: 100px;
    }
    .navi>.navi-links-2 li {
        display: none;
    }
    .navi>.navi-links>a:hover {
        color: #a9a8a8;
        text-align: left;
    }
    .navi>.navi-links-2>a:hover {
        color: #a9a8a8;
        text-align: left;
    }
}


/* /////////////////  FOOTER  //////////////////////// */

.footer {
    background: #344E41;
    color: white;
}

.footer .links ul {
    list-style-type: none;
}

.footer .links ul li a {
    font-size: 14px;
    color: white;
    transition: color .2s;
    text-decoration: none;
}

.footer .links ul li a:hover {
    text-decoration: none;
    color: #c0c0c0;
}

.location i {
    font-size: 15px;
    padding-right: 10px;
}

.copyright p {
    border-top: 1px solid rgba(255, 255, 255, .1);
}


/* ////////////// SEARCH AND BANNER //////////////////// */

.banner {
    position: relative;
    width: 100%;
    padding: 0 100px;
}

.banner .bg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    background-color: #555;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content h2 {
    position: relative;
    color: #fff;
    font-size: 5em;
    text-align: center;
    margin-top: -100px;
}

.content .btn {
    display: inline-block;
    background-color: #344E41;
    color: #fff;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 1.1em;
    margin-top: 40px;
    letter-spacing: 2px;
}

.searchBox {
    position: absolute;
    bottom: 0;
    width: 76%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    background-color: rgb(255, 255, 255);
    padding: 30px 50px;
    transform: translateY(20%);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    border-radius: 10px;
}

.searchBox .inputBx {
    position: relative;
    margin: 0 25px;
}

.searchBox .select {
    height: 200%;
    position: relative;
    padding: 10px;
    width: 240px;
    border: 1px solid black;
}

.searchBox .inputBx p {
    color: #222;
    margin-bottom: 10px;
    font-size: 18px;
}

.searchBox .inputBx input {
    border-radius: 10px;
    background-color: #eeeeef;
    border: 1px solid #eeeeef;
    outline: none;
    padding: 10px;
    width: 100%;
    font-size: 1.1em;
    min-width: 150px;
}

.searchBox .select {
    height: 200%;
    position: relative;
    padding: 10px;
    width: 240px;
    border: 1px solid #eeeeef;
    background-color: #eeeeef;
    border-radius: 10px;
}


/* .searchBox .inputBx input[type="submit"] {
outline: none;
border: none;
background-color: #344E41;
color: #fff;
cursor: pointer;
letter-spacing: 2px;
padding: 13px;
} */

.searchBox .inputBx .submitBtn {
    outline: none;
    border: none;
    background-color: #344E41;
    color: #fff;
    cursor: pointer;
    letter-spacing: 2px;
    padding: 12px;
    width: 150px;
    font-size: 16px;
    border-radius: 10px;
}

@media (max-width: 1023px) {
    header {
        padding: 20px;
    }
    .group .navigation {
        display: none;
    }
    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        cursor: pointer;
        margin-left: 20px;
        width: 30px;
        height: 30px;
    }
    .menu i {
        position: absolute;
        stroke-width: 20px;
    }
    .menu i:first-of-type,
    .menu.active i:last-of-type {
        z-index: 1000;
        display: flex;
    }
    .menu.active i:first-of-type,
    .menu i:last-of-type {
        display: none;
    }
    .navigation.active {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 100;
    }
    .group ul.navigation li {
        margin: 2vh;
    }
    .group ul.navigation li a {
        font-size: 5vw;
        margin-left: 0;
        font-weight: 600;
    }
    .banner {
        padding: 0;
    }
    .content h2 {
        font-size: 3em;
    }
    .searchBox {
        width: 100%;
        padding: 20px;
        transform: translateY(100%);
    }
}

@media (max-width: 1023px) {
    .searchBox {
        flex-direction: column;
    }
    .searchBox .inputBx {
        width: 100%;
        margin-bottom: 20px;
    }
    .searchBox .inputBx .select {
        width: 100%;
        margin-bottom: 20px;
    }
    .searchBox .inputBx:last-of-type p {
        display: none;
    }
}

@media (max-width: 1765px) and (min-width: 1024px) {
    .content h2 {
        display: none;
    }
    .searchBox {
        /* padding-top: 200px; */
        flex-direction: column;
    }
    .searchBox .inputBx {
        width: 100%;
        margin-bottom: 20px;
    }
    .searchBox .inputBx .select {
        width: 100%;
        margin-bottom: 20px;
    }
    .searchBox .inputBx:last-of-type p {
        display: none;
    }
}


/* ///////////////// User Schedule //////////////////////////////// */

.card {
    border-radius: 10px;
}

.table-responsive {
    padding: 10px;
}

.table-responsive td,
.table-responsive th {
    text-align: center;
    padding: 25px;
}

@media (max-width: 767px) {
    .table-responsive {
        padding: 10px;
    }
}

@media (max-width: 1765px) and (min-width: 1024px) {
    .blank2 {
        margin-top: 650px;
    }
    .table-responsive {
        padding: 10px;
    }
}


/* ///////////////////// Card Home /////////////////////////////// */

.cardhome {
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: .5s;
}

.cardhome:hover {
    box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-card {
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    overflow: hidden;
}

.img-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: all .25s ease;
}

.card-content {
    padding: 15px;
    text-align: left;
}

.card-title {
    margin-top: 0px;
    font-weight: 700;
    font-size: 1.2em;
}

.card-title a {
    color: #000;
    font-size: 18px;
    text-decoration: none !important;
}

.cardhome:hover {
    -ms-transform: scale(1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05);
    /* Safari 3-8 */
    transform: scale(1.05);
}

@media (max-width: 1023px) {
    .blank {
        margin-top: 700px;
    }
}

@media (max-width: 1765px) and (min-width: 1024px) {
    .blank {
        margin-top: 200px;
    }
}


/* /////////////  FEATURE  ///////////////// */

#features {
    background-color: white;
    padding: 3em 0;
    margin: auto;
    width: 68%;
    margin-top: 50px;
    border-radius: 10px
}

#features h4 {
    font-size: 20px;
}

.list-features {
    display: grid;
    grid-template-columns: 3fr 9fr;
    align-items: center;
}

.icons {
    justify-self: end;
}

.text {
    align-self: center;
    padding-left: 5em;
    margin-right: 12em;
}

@media (max-width: 767px) {
    #features {
        background-color: white;
        /* padding: 1em 0; */
        margin: auto;
        width: 95%;
        margin-top: 50px;
        border-radius: 10px
    }
    .text {
        align-self: center;
        padding-left: 2em;
        margin-right: 1em;
    }
}


/*/////////////////// pre loader /////////////////*/

.fadeout {
    opacity: 0;
    filter: alpha(opacity=0);
}

.loader {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: #000;
    text-align: center;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    margin-top: 153px;
}

.loader-content {
    height: 100%;
    background-color: #F1F1F1;
    display: block;
    position: relative;
}

@media (max-width: 767px) {
    .loader {
        display: none;
    }
}