* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #f1f1f1;
}

.navi {
    height: 80px;
    width: 100%;
    background-color: #344E41;
    position: sticky;
    top: 0;
    padding: 10px 100px 0px 100px;
    box-shadow: 0px 4px 5px #353535a5;
    z-index: 999;
}

.navi>.navi-header {
    display: inline;
}

.navi>.navi-header>.navi-title {
    display: inline-block;
    font-size: 30px;
    color: #fff;
    padding: 15px 10px 10px 10px;
}

.navi>.navi-btn {
    display: none;
}

.navi>.navi-links {
    display: flex;
    font-size: 18px;
    margin-top: -50px;
    justify-content: center;
}

.navi>.navi-links>a {
    display: inline-block;
    padding: 13px 60px 13px 60px;
    text-decoration: none;
    font-weight: 500;
    color: #efefef;
}

.navi>.navi-links-2 {
    font-size: 18px;
    margin-top: -50px;
    display: inline;
    float: right;
    font-size: 18px;
}

.navi>.navi-links-2>a {
    display: inline-block;
    padding: 13px 30px 13px 5px;
    text-decoration: none;
    font-weight: 500;
    color: #efefef;
}

.navi>.navi-links>a:hover {
    background-color: rgba(38, 38, 38, 0.3);
    text-align: center;
}

.navi>#navi-check {
    display: none;
}


/* @media (max-width:600px) {
.navi>.navi-btn {
display: inline-block;
position: absolute;
right: 0px;
top: 0px;
}
.navi>.navi-btn>label {
display: inline-block;
width: 50px;
height: 50px;
padding: 13px;
}
.navi>.navi-btn>label:hover,
.navi #navi-check:checked~.navi-btn>label {
background-color: rgba(0, 0, 0, 0.3);
}
.navi>.navi-btn>label>span {
display: block;
width: 25px;
height: 10px;
border-top: 2px solid #eee;
}
.navi>.navi-links {
position: absolute;
display: block;
width: 100%;
background-color: #333;
height: 0px;
transition: all 0.3s ease-in;
overflow-y: hidden;
top: 50px;
left: 0px;
}
.navi>.navi-links>a {
display: block;
width: 100%;
}
.navi>#navi-check:not(:checked)~.navi-links {
height: 0px;
}
.navi>#navi-check:checked~.navi-links {
height: calc(100vh - 50px);
overflow-y: auto;
}
} */


/* /////////////////  FOOTER  //////////////////////// */

.footer {
    background: #344E41;
    color: white;
}

.footer .links ul {
    list-style-type: none;
}

.footer .links ul li a {
    color: white;
    transition: color .2s;
}

.footer .links ul li a:hover {
    text-decoration: none;
    color: #c0c0c0;
}

.location i {
    font-size: 15px;
    padding-right: 10px;
}

.copyright p {
    border-top: 1px solid rgba(255, 255, 255, .1);
}


/* ////////////// SEARCH AND BANNER //////////////////// */

.banner {
    position: relative;
    width: 100%;
    padding: 0 100px;
}

.banner .bg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    background-color: #555;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content h2 {
    position: relative;
    color: #fff;
    font-size: 5em;
    text-align: center;
    margin-top: -100px;
}

.content .btn {
    display: inline-block;
    background-color: #344E41;
    color: #fff;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 1.1em;
    margin-top: 40px;
    letter-spacing: 2px;
}

.searchBox {
    position: absolute;
    bottom: 0;
    width: 76%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    background-color: rgb(255, 255, 255);
    padding: 30px 50px;
    transform: translateY(20%);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.searchBox .inputBx {
    position: relative;
    margin: 0 25px;
}

.searchBox .select {
    height: 200%;
    position: relative;
    padding: 10px;
    width: 240px;
    border: 1px solid black;
}

.searchBox .inputBx p {
    color: #222;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.searchBox .inputBx input {
    border: 1px solid #222;
    outline: none;
    padding: 10px;
    width: 100%;
    font-size: 1.1em;
    min-width: 150px;
}


/* .searchBox .inputBx input[type="submit"] {
outline: none;
border: none;
background-color: #344E41;
color: #fff;
cursor: pointer;
letter-spacing: 2px;
padding: 13px;
} */

.searchBox .inputBx .submitBtn {
    outline: none;
    border: none;
    background-color: #344E41;
    color: #fff;
    cursor: pointer;
    letter-spacing: 2px;
    padding: 12px;
    width: 150px;
    font-size: 18px;
}

@media (max-width: 991px) {
    header {
        padding: 20px;
    }
    .group .navigation {
        display: none;
    }
    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        cursor: pointer;
        margin-left: 20px;
        width: 30px;
        height: 30px;
    }
    .menu i {
        position: absolute;
        stroke-width: 20px;
    }
    .menu i:first-of-type,
    .menu.active i:last-of-type {
        z-index: 1000;
        display: flex;
    }
    .menu.active i:first-of-type,
    .menu i:last-of-type {
        display: none;
    }
    .navigation.active {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 100;
    }
    .group ul.navigation li {
        margin: 2vh;
    }
    .group ul.navigation li a {
        font-size: 5vw;
        margin-left: 0;
        font-weight: 600;
    }
    .banner {
        padding: 0;
    }
    .content h2 {
        font-size: 3em;
    }
    .searchBox {
        width: 100%;
        padding: 20px;
        transform: translateY(100%);
    }
}

@media (max-width: 840px) {
    .searchBox {
        flex-direction: column;
    }
    .searchBox .inputBx {
        width: 100%;
        margin-bottom: 20px;
    }
    .searchBox .inputBx .select {
        width: 100%;
        margin-bottom: 20px;
    }
    .searchBox .inputBx:last-of-type p {
        display: none;
    }
}


/* ///////////////////// Card Home /////////////////////////////// */

.cardhome {
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: .5s;
}

.cardhome:hover {
    box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-card {
    width: 100%;
    height: 200px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: block;
    overflow: hidden;
}

.img-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: all .25s ease;
}

.card-content {
    padding: 15px;
    text-align: left;
}

.card-title {
    margin-top: 0px;
    font-weight: 700;
    font-size: 1.2em;
}

.card-title a {
    color: #000;
    text-decoration: none !important;
}

.cardhome:hover {
    -ms-transform: scale(1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05);
    /* Safari 3-8 */
    transform: scale(1.05);
}


/* /////////////  FEATURE  ///////////////// */

#features {
    background-color: white;
    padding: 3em 0;
    margin: auto;
    width: 68%;
    margin-top: 50px;
}

.list-features {
    display: grid;
    grid-template-columns: 3fr 9fr;
    align-items: center;
}

.icons {
    justify-self: end;
}

.text {
    align-self: center;
    padding-left: 5em;
    margin-right: 12em;
}


/* //////////  EDIT PROFILE  ///////////// */

.profile-tab-nav {
    min-width: 250px;
}

.tab-content {
    flex: 1;
}

.nav-pills a.nav-link {
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    color: #333;
}

.nav-pills a.nav-link i {
    width: 20px;
}

.img-circle img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 5px solid #fff;
}


/*/////////////////// pre loader /////////////////*/

.fadeout {
    opacity: 0;
    filter: alpha(opacity=0);
}

.loader {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: #000;
    text-align: center;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}

.loader-content {
    height: 100%;
    background-color: #F5F7F6;
    display: block;
    position: relative;
}