body,
html {
    background-color: #fbfbfb;
    margin: 0;
    height: 100%;
    overflow: hidden;
}


/* Fixed sidenav, full height */

.sidenav {
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(237, 237, 237);
    overflow-x: hidden;
    padding-top: 20px;
}


/* Style the sidenav links and the dropdown button */

.sidenav a,
.dropdown-btn,
.sidenav button {
    padding: 6px 8px 6px 50px;
    text-decoration: none;
    font-size: 20px;
    color: #434343;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    line-height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.206);
}


/* On mouse-over */

.sidenav a:hover,
.dropdown-btn:hover {
    color: #989898;
}


/* Main content */

.main {
    margin-left: 200px;
    /* Same as the width of the sidenav */
    font-size: 20px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}


/* Add an active class to the active dropdown button */

.active {
    background-color: grey;
    color: white;
}


/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */

.dropdown-container {
    display: none;
    background-color: #d7d7d7;
    padding-left: 8px;
}


/* Optional: Style the caret down icon */

.fa-caret-down {
    float: right;
    padding-right: 8px;
}


/* Some media queries for responsiveness */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.main {
    margin-left: 200px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}


/* ////////////////////////////////////// */

#users td,
#users th,
#buses td,
#buses th,
#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#users tr:nth-child(even),
#buses tr:nth-child(even),
#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#users tr:hover,
#buses tr:hover,
#customers tr:hover {
    background-color: #ddd;
}

#users th,
#buses th,
#trips th,
#customers th {
    width: 180px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #25714a;
    color: white;
}

.form-group {
    padding-bottom: 20px;
}

.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}