.koliyaney {
    margin: 0 auto;
    width: 69%;
    height: 250px;
    background-color: rgba(217, 217, 217, 0.669);
    color: rgb(86, 86, 86);
    border-radius: 10px;
    padding: 10px 10px 0px 10px;
    font-weight: bold;
    margin-top: 30px;
}

.yaney {
    width: 100%;
    height: 82%;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px 20px 0px 20px;
}

.yaney .yaney_top {
    width: 100%;
    height: 25%;
    /* background-color: greenyellow; */
    border-radius: 10px 10px 0px 0px;
    align-items: center;
    justify-content: center;
    /* font-weight: bold; */
    padding: 0px 0px 0px 0px;
    font-size: 18px;
}

.yaney .yaney_top span {
    font-weight: bold;
}

.yaney .yaney_top i {
    margin-left: 10px;
    font-size: 20px;
    color: grey;
    top: 3px;
    position: relative;
}

.yaney .yaney_top hr {
    height: 2px;
    margin-top: 15px;
}

.col-2 {
    border-left: 2px solid #d3d3d3;
}

.selectBtn {
    outline: none;
    border: none;
    background-color: #344E41;
    color: #fff;
    cursor: pointer;
    letter-spacing: 2px;
    padding: 10px;
    width: 120px;
    font-size: 15px;
    border-radius: 10px;
    margin-left: 35px;
    margin-top: 10px;
}

.time {
    font-size: 30px;
    margin-top: -15px;
    font-weight: normal;
}

.place {
    font-size: 15px;
    margin-top: 15px;
    /* font-weight: normal; */
}

.price {
    margin-left: 75px;
    font-size: 23px;
    /* font-weight: normal; */
}

@media (max-width: 1023px) {
    .time {
        font-size: 15px;
        margin-top: -15px;
        font-weight: normal;
    }
    .col-md-3 {
        display: none;
    }
    .yaney .yaney_top span {
        /* font-weight: bold; */
        font-size: 12px;
    }
    .yaney span {
        font-size: 12px;
    }
    .selectBtn {
        outline: none;
        border: none;
        background-color: #344E41;
        color: #fff;
        cursor: pointer;
        letter-spacing: 2px;
        padding: 5px;
        width: 50px;
        font-size: 8px;
        border-radius: 5px;
        margin-left: 8px;
        margin-top: -18px;
    }
    .price {
        margin-top: 15px;
        margin-left: 19px;
        font-size: 15px;
        /* font-weight: normal; */
    }
}