.container .item {
    width: 70%;
    height: 320px;
    float: left;
    padding: 0 20px;
    background: #fff;
    overflow: hidden;
    /* margin: 10px; */
}

.container .item-right img {
    width: 200%;
    margin-left: -45px;
    margin-top: -35px;
}

.container .item-right,
.container .item-left {
    float: left;
    padding: 20px
}

.container .item-right {
    padding: 79px 50px;
    margin-right: 20px;
    width: 25%;
    position: relative;
    height: 286px
}

.container .item-right .up-border,
.container .item-right .down-border {
    padding: 14px 15px;
    background-color: #ddd;
    border-radius: 50%;
    position: absolute
}

.container .item-right .up-border {
    top: -8px;
    right: -35px;
}

.container .item-right .down-border {
    bottom: -45px;
    right: -35px;
}

.container .item-right .day,
.container .item-left .event {
    color: #555;
    font-size: 14px;
    margin-bottom: 9px;
}

.container .item-left {
    width: 70%;
    padding: 34px 0px 19px 46px;
    border-left: 3px dotted #999;
}

.container .item-left .title {
    color: #111;
    font-size: 18px;
    margin-bottom: 12px
}

.container .item-left .sce {
    margin-top: 5px;
    display: block
}

.container .item-left .sce .icon,
.container .item-left .sce p,
.container .item-left .loc .icon,
.container .item-left .loc p {
    float: left;
    word-spacing: 5px;
    letter-spacing: 1px;
    color: #888;
    margin-bottom: 10px;
}

.container .item-left .sce .icon,
.container .item-left .loc .icon {
    margin-right: 10px;
    font-size: 18px;
    color: #666
}

.container .item-left .loc {
    display: block
}

.fix {
    clear: both
}

.container .item .booked {
    color: #fff;
    padding: 6px 14px;
    float: right;
    /* margin-top: 10px; */
    font-size: 14px;
    border: none;
    cursor: pointer
}

.container .item .booked {
    background: #344E41
}

.linethrough {
    text-decoration: line-through
}